html {
  font-size: 16px;
  background: #f1f1f1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

body {
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #f1f1f1;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 700px;
  height: 500px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* Default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Text paragraph styles */
p {
  margin-bottom: 1rem;
}

/* Small text paragraph styles */
.text-sm {
  font-size: 14px;
  color: #666;
}

/* Base text paragraph styles */
.text-base {
  font-size: 16px;
  color: #444;
}

/* Large text paragraph styles */
.text-lg {
  font-size: 20px;
  color: #222;
}

.sidebar {
  width: 25%;
  background: #fff;
  font-size: 0.73em;
  margin-right: 2%;
  border-right: 1px solid rgb(214, 214, 214);
}

.sidebar .row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar img.brand-logo {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.sidebar p.brand-name {
  font-size: 14px;
  font-weight: bold;
  color: #009d08;
  margin: 0;
  line-height: 1;
}

.nav {
  position: relative;
  margin: 0 5%;
  text-align: right;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3em 0;
}
.nav ul li a {
  line-height: 3em;
  text-decoration: none;
  font-size: 12px;
  color: gray;
  display: block;
  font-weight: bold;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: #009d08;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: #009d08;
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #009d08, #b1f8b4);
}
.main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-left: 1px solid rgb(214, 214, 214);
}

.main > section {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: -1;
}

.main > section.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.section {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}
.section .container {
  padding: 5%;
}
.section a {
  position: relative;
}
.section a img {
  width: 48px;
  height: 48px;
}
.section p {
  color: #2a2a2a;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 30px;
}

/* Welcome */

#welcome ol {
  font-size: 0.9rem;
  margin-bottom: 50px;
  text-align: left;
}

#welcome li {
  margin-bottom: 10px;
}

/* Bookmark card */

.bookmark-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0px #b1b1b152;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.remove-card {
  opacity: 0;
  transform: scale(0.7);
}

.bookmark-text {
  flex-grow: 1;
  margin-right: 20px;
}

.bookmark-title {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
  color: #3c3c3c;
}

p.bookmark-excerpt {
  font-size: 0.8rem;
  margin: 0 0 10px 0;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

a.bookmark-link {
  font-size: 0.8rem;
  color: #0077cc;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bookmark-link:hover {
  text-decoration: underline;
  color: #005ea8;
}

.bookmark-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.bookmark-date {
  font-size: 0.8rem;
  margin: 0 0 20px 0;
  color: gray;
}

.bookmark-actions {
  display: flex;
}

button.bookmark-action {
  font-size: 0.9rem;
  color: #0077cc;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.bookmark-action:hover {
  text-decoration: underline;
  color: #005ea8;
}

.bookmark-actions .delete-action {
  color: red;
}
/* Contact developer section */

.contact {
  background-color: #fff;
  color: #009d08;
  text-align: center;
  padding: 50px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("/assets/images/tebify-headshot.jpg");
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.icons .icon:hover {
  background-color: #0077cc;
}

.icons .icon img {
  width: 30px;
  height: 30px;
}

.icons .icon:hover img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(190deg)
    brightness(100%) contrast(125%);
}

/* Settings */

.settings {
  color: #373737;
  border-radius: 5px;
}

.setting {
  display: flex;
  align-items: center;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0px #b1b1b152;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.social-icon {
  margin-right: 1rem;
}

.social-icon img {
  height: 30px;
  width: 30px;
}

.share-option {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.social-details {
  width: 45%;
  transition: all 0.3s ease-out; /* add transition to animate width change */
}

.social-details.expanded {
  width: 100%; /* set width to 100% when expanded */
}

.social-details .social-name {
  font-size: 18px;
  font-weight: bold;
}

.social-details .social-description {
  font-size: 14px;
  color: #808080;
}

.social-edit {
  margin-left: 2%;
}

.edit-button {
  display: inline-block;
  padding: 6px 9px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #009d08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 9px 0px #b1b1b152;
  transition: background-color 0.2s ease;
}

.edit-button:hover {
  background-color: #008205;
}

.edit-social-details {
  display: none;
  padding: 0 24px; /* remove top/bottom padding to animate height change */
  overflow: hidden; /* hide overflow to animate height change */
  background-color: #fff;
  box-shadow: 1px 1px 9px 0px #b1b1b152;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
  margin-top: -10px;
  margin-bottom: 12px;
  transition: all 0.3s ease-out; /* add transition to animate height change */
}

.edit-social-details.expanded {
  display: block;
  padding: 24px;
  height: auto; /* set height to auto when expanded */
}

.edit-social-input {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.edit-social-input label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.edit-social-input input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.edit-social-buttons {
  display: flex;
  justify-content: flex-end;
}

.save-button,
.cancel-button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #009d08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 9px 0px #b1b1b152;
  transition: background-color 0.2s ease;
  margin-left: 3%;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #008205;
}

.cancel-button {
  margin-right: 12px;
  background-color: #9b9b9b;
}

.cancel-button:hover {
  background-color: #6d6d6d;
}

.checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: auto;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label {
  position: absolute;
  top: 0;
  left: -14px;
  width: 30px !important;
  height: 24px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid gray;
  cursor: pointer;
  display: inline !important;
}

.checkbox label:before {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input[type="checkbox"]:checked ~ label:before {
  display: block;
}

.checkbox label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #cecece;
  transition: all 0.2s ease;
}

.checkbox input[type="checkbox"]:checked ~ label:after {
  background-color: #009d08;
  transform: translateX(10px);
}

.setting:hover .checkbox label {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
}

.setting:hover .checkbox label:after {
  transform: scale(1.5);
}

.setting:hover .checkbox input[type="checkbox"]:checked ~ label:after {
  transform: translateX(14px);
}

.settings label {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  display: block;
}

.settings p {
  font-size: 12px;
  width: 200px;
}

.error {
  border: 1px solid #ff0000;
}

.error-message {
  width: 100%;
  margin-top: 8px;
}

.error-message p {
  margin-bottom: 0;
  font-size: 12px;
  color: #ff0000;
}
